# Local database
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/mydatabase

# Test database
TEST_DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5433/testdatabase

# OpenAPI genrated file output path
OPENAPI_OUTPUT_FILE=../nextjs-frontend/openapi.json

# CORS (Allow all origins for development; adjust this to restrict origins in production deployments)
CORS_ORIGINS=["*"]

# Sign MT cloud functions
SIGN_MT_BASE_URL=https://us-central1-sign-mt.cloudfunctions.net
DEFAULT_SPOKEN_LANGUAGE=en
DEFAULT_SIGNED_LANGUAGE=ase

# OPENAPI (Uncomment the line below to disable the /docs and openapi.json urls)
# OPENAPI_URL=""
